Source: ros-dashing-rclc-examples
Section: misc
Priority: optional
Maintainer: Jan Staschulat <jan.staschulat@de.bosch.com>
Build-Depends: debhelper (>= 9.0.0), ros-dashing-ament-cmake-ros, ros-dashing-example-interfaces, ros-dashing-lifecycle-msgs, ros-dashing-rcl, ros-dashing-rclc, ros-dashing-rclc-lifecycle, ros-dashing-std-msgs, ros-dashing-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-dashing-rclc-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-dashing-example-interfaces, ros-dashing-lifecycle-msgs, ros-dashing-rcl, ros-dashing-rclc, ros-dashing-rclc-lifecycle, ros-dashing-std-msgs, ros-dashing-ros-workspace
Description: Example of using rclc_executor
